.header{
    width: 100%;
    ul {
        list-style-type: none;
        display: flex;
        li{
            display: inline-block;
            padding:3px 6px;
            &:first-of-type{
                margin-left: auto;
            }
            &:hover{
                
            }
        }
    }
}